<div class="container scrollContainer">
  <div class="mob-allpageHeader">
    <div class="row">
      <div class="col-3 text-center">
        &nbsp;
      </div>
      <div class="col-6 text-center">
        <h5>Reset Password</h5>
      </div>
      <div class="col-3">&nbsp;</div>
    </div>
  </div>
  <div class="contentHeight">&nbsp;</div>

  <div class="col-sm-12 join_layout">
    <form [formGroup]="resetPassword">
      <div class="join_content pt-4 w-100">
        <div class="form-group">
          <input (keyup)="hideValidations()" formControlName="newPassword" type="password" class="form-control"
            placeholder="New Password">

          <!--Validation-->
          <div *ngIf="newPasswordValidation">
            <div *ngIf="!resetPassword.controls.newPassword.value" class="alert alert-danger errorMessages">{{rpInputMessage.passwordRequired}}</div>
            <div *ngIf="resetPassword.controls.newPassword.value && !resetPassword.controls.newPassword.pattern && resetPassword.controls.newPassword.errors"
              class="alert alert-danger errorMessages">
              {{rpInputMessage.validPassword}}
            </div>
          </div>
          <!--Validation-->
        </div>

        <div class="form-group">
          <input (keyup)="hideValidations()" formControlName="confirmPassword" type="password" class="form-control"
            placeholder="Confirm Password">

          <!--Validation-->
          <div *ngIf="confirmPasswordValidation">
            <div *ngIf="!resetPassword.controls.confirmPassword.value" class="alert alert-danger errorMessages">{{rpInputMessage.confirmPasswordRequired}}</div>
            <div *ngIf="resetPassword.controls.confirmPassword.value && !resetPassword.controls.confirmPassword.pattern && resetPassword.controls.confirmPassword.errors"
              class="alert alert-danger errorMessages">
              {{rpInputMessage.validPassword}}
            </div>
          </div>
          <!--Validation-->
        </div>

        <div *ngIf="passwordMissMatch" class="alert alert-danger errorMessages">Password does not match.</div>

        <div *ngIf="responseHandling.status && responseHandling.response == 'success'" class="alert alert-success successMessage">
          {{rpUserMessage.success}}
        </div>

        <div *ngIf="responseHandling.status && responseHandling.response == 'fail'" class="alert alert-danger errorMessages">
          {{rpUserMessage.fail}}
        </div>
      </div>
      <img src="./assets/images/loader.gif" style="margin: 0 46%" *ngIf="loader" />
      <hr />
      <div class="join_content w-100">
        <button (click)="onSubmit()" type="submit" class="btn btn_red_right w-100">Submit</button>
      </div>
    </form>
    <div class="clearfix">&nbsp;</div>
  </div>
</div>